.services {
  padding: 4em 0;
  @include font(1.5rem, 500, normal, $color-dark);

  &__title {
    margin: 0 0 0.7em;
    text-align: center;
    @include font(2em, 600, normal, $color-dark);
  }

  &__cards {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    max-width: 13.34em;
    padding: 1.67em 1.67em 4em;
    background-color: $color-light;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
  }

  &__icon {
    width: 3.33em;    
  }

  &__items {
    padding: 0;
    margin-top: 1.25em;
    display: grid;
    gap: 1em;
    list-style-type: none;
  }

  &__description {
    margin: 0;
    text-align: center;  
  }
}


@media screen and (max-width: 1103px) {
  .services {
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 767px) {
  .services {
    font-size: 1rem;
  }
}


@media screen and (max-width: 410px) {
  .services {
    font-size: 0.875rem;
  }
}