.header {
  width: 100%;
  padding: 0.84em 0;
  background-color: $color-dark;
  @include font(1.5rem, 400, 1, $color-light);

    &__logo {
      height: 3.55em;
    }

    &__item {
      display: grid;
    }

    &__menu {
      display: flex;
      align-items: center;

      &-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        gap: 0.84em;
      }

      &-link {
        text-decoration: none;
        color: $color-light;
        transition: color 0.4s ease-out;
      }
    }

    &__contacts {
      display: flex;
      justify-content: end;
      gap: 0.84em;
      flex-wrap: wrap;
    }

    &__phone {
      text-decoration: none;
      color: $color-light;
      font-style: normal;
      transition: color 0.4s ease-out;
    }

    &__messenger {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.5rem;
      list-style: none;

      &-link {
        display: grid;
        margin: 0;
        transition: transform 0.5s ease-out;
      }

      &-icon {
        width: 1em;

        &_whatsapp {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }

        &_mail {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }

        &_telegram {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }
      }
    }
}

.header .container {
  display: grid;
  gap: 0.84em;
  grid-template-columns: min-content auto minmax(min-content, max-content);
  align-items: center;
}


@media (hover: hover) {
  .header {

    &__menu {

      &-link:hover {
        color: $color-hover;
      }
    }

    &__phone:hover {
      color: $color-hover;
    }

    &__messenger {

      &-link:hover {
        transform: scale(110%);
      }

      &-icon {
  
        &_whatsapp:hover {
          fill: $color-whatsapp;
        }
  
        &_mail:hover {
          fill: $color-mail;
        }
  
        &_telegram:hover {
          fill: $color-telegram;
        }
      }
    }
  }
}


@media screen and (max-width: 1103px) {
  .header {
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 767px) {
  .header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 620px) {
  .header {

    &__logo {
      grid-area: logo;
    }

    &__menu {
      justify-self: end;
      grid-area: navbar;
    }

    &__contacts {
      grid-area: contacts;
    }
  }

  .header .container {
    grid-template-areas: 
      "logo . navbar"
      "logo . contacts";
      gap: 0.5em;
  }
}


@media screen and (max-width: 410px) {
  .header {
    font-size: 0.875rem;
  }
}