.header {
  width: 100%;
  padding: 20px 0;
  background-color: $color-dark;
  @include font(1.5rem, 400, 1, $color-light);

    &__logo {
      height: 85px;
    }

    &__item {
      display: grid;
    }

    &__menu {
      width: 100%;
      display: flex;
      align-items: center;

      &-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        gap: 20px;
      }

      &-link {
        text-decoration: none;
        color: $color-light;
        transition: color 0.4s ease-out;
      }

      &-link:hover {
        color: $color-hover;
      }
    }

    &__contacts {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__phone {
      text-decoration: none;
      color: $color-light;
      font-style: normal;
      transition: color 0.4s ease-out;
    }

    &__phone:hover {
      color: $color-hover;
    }

    &__messenger {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 8px;
      list-style: none;

      &-link {
        display: grid;
        margin: 0;
        transition: transform 0.5s ease-out;
      }

      &-link:hover {
        transform: scale(110%);
      }

      &-icon {
        width: 24px;

        &_whatsapp {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }
  
        &_whatsapp:hover {
          fill: $color-whatsapp;
        }

        &_mail {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }
  
        &_mail:hover {
          fill: $color-mail;
        }

        &_telegram {
          fill: $color-light;
          transition: fill 0.4s ease-out;
        }
  
        &_telegram:hover {
          fill: $color-telegram;
        }
      }
    }
}

.header .container {
  display: grid;
  gap: 20px;
  grid-template-columns: min-content auto max-content;
  align-items: center;
}
