.footer {
  background-color: $color-dark;
  padding: 2.5em 0 4em;
  font-size: 1.5rem;

  &__items {
    display: grid;
    margin: 0;
    padding: 0;
    gap: 1.6em;
  }

  &__item {
    margin: 0;
    list-style-type: none;
  }

  &__title {
    margin: 0 0 0.6em;
    @include font(1em, 600, normal, $color-light);
  }

  &__text {
    margin: 0;
    @include font(1em, 300, normal, $color-gray);
  }

  &__contacts {
    display: grid;
    padding: 0;
    gap: 0.6em;
    grid-template-rows: min-content min-content;
  }

  &__phone {
    @include font(1em, 600, normal, $color-light);
    font-style: normal;
    text-decoration: none;
    transition: opacity 0.4s ease-out;
  }

  &__messengers {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 0.6em;
    list-style-type: none;
  }

  &__link {
    display: grid;
    margin: 0;
    transition: transform 0.5s;
  }

  &__icon {
    width: 1.67em;
  }
}


.footer .container {
  display: flex;
  justify-content: space-between;
}


@media (hover: hover) {
  .footer {

    &__phone:hover {
      opacity: 0.5;
    }

    &__link:hover {
      transform: scale(110%);
    }
  }
}


@media screen and (max-width: 1103px) {
  .footer {
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    font-size: 1rem;
  }
}


@media screen and (max-width: 620px) {
  .footer {
    &__messengers {
      justify-content: start;
    }
  }

  .footer .container {
    flex-direction: column;
    gap: 1.6em;
  }
}


@media screen and (max-width: 410px) {
  .footer {
    font-size: 0.875rem;
  }
}