//Colors
$color-light: #ffffff;
$color-dark: #121212;
$color-dark-light: #12121280;
$color-gray: #EBEBEB;
$color-main: #888270;
$color-accent: #EDCB87;
$color-hover: #E6B657;

$color-whatsapp: #29a71a;
$color-mail: #FFCD00;
$color-telegram: #1c8adb;



//Mixins
@mixin font($size, $weight, $lh, $color) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lh;
	color: $color;
}
